<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<div class="container">
    <h2>List of Products</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Stock</th>
            <th>Price</th>
            <th>Category Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.productId}"></td>
            <td th:text="${product.productName}"></td>
            <td th:text="${product.productStock}"></td>
            <td th:text="${product.productPrice}"></td>
            <td th:text="${product.categoryName}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
